.container {
  margin: 0 auto;
}

.container .row {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  height: 100px;
  height: 65px;
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  background-color: #fafafa;
}

.header .header-container {
  height: 100%;
}

.header .userLogin .btn-login {
  text-align: center;
  border: 0;
  background-color: #30bfb7;
  color: white;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  font-family: 'bahij-helvetica-bold';
}

.header .userLogin .btn-login:hover {
  background-color: #25918b;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo img {
  height: auto;
}

main {
  width: 100%;
  margin-top: 50px;
  margin: 50px auto;
  font-family: 'bahij-helvetica-roman';
}

main .post-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .post-container .card .card-img img {
  border-radius: 5px;
}

main .post-container .card .card-post {
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .post-container .card .card-post .post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'bahij-helvetica-bold';
  padding: 10px 0 0 0;
}

main .post-container .card .card-post .post-header .post-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .post-container .card .card-post .post-header .post-author .avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

main .post-container .card .card-post .post-header .post-author .author-name {
  margin-right: 15px;
  color: #28394f;
}

main .post-container .card .card-post .post-header button {
  height: 23px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 0 6px 1px;
  border-radius: 6px;
  background-color: #fafafa;
  border: 2px solid #139eca;
  color: #139eca;
  cursor: pointer;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
  font-family: 'bahij-helvetica-roman';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .post-container .card .card-post .post-header button:hover {
  background-color: #139eca;
  color: #fff;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}

main .post-container .card .card-post .post-content {
  line-height: 2;
}

main .post-container .card .card-post .post-content .article-link {
  color: #28394f;
}

main .post-container .card .card-post .post-content .article-link .post-title {
  margin-bottom: 5px;
}

main .post-container .card .card-post .post-footer {
  width: 100%;
  color: #5a5a5a;
  margin-top: 20px;
}

main .post-container .card .card-post .post-footer .flex-footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .post-container .card .card-post .post-footer .flex-footer .date {
  margin-left: 10px;
}

main .post-container .card .card-post .post-footer .flex-footer > span {
  margin: 0 10px;
}

main .post-container .card .card-post .post-footer .flex-footer .tag {
  border-radius: 17px;
  background-color: #eef2f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

main .post-container .card .card-post .post-footer .flex-footer .circle {
  width: 4px;
  height: 4px;
  background-color: #707070;
  border-radius: 50%;
  margin: 0;
}

main .post-container .card .card-post .post-footer .flex-footer .save {
  color: #139eca;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */