
.site-footer {
    width: 100%;
    background-color: #232f3d;
    color: white;
    border-radius: 5px 5px 0 0;
    background-image: url("../img/Pattern.svg") ;
    background-repeat: no-repeat;
    .footer-gradient{
        height: 100%;
        border-radius: 5px 5px 0 0;
        background: rgb(35,47,61);
        background: linear-gradient(90deg, rgba(35,47,61,0) 0%, rgba(35,47,61,1) 70%, rgba(35,47,61,1) 100%);
    }
    .footer-container{
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .logo{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            img{
                filter: grayscale(100%) invert(100%) brightness(5);
            }
        }
        .footer-text{
            line-height: normal;
            font-family: 'bahij-helvetica-roman';
            text-align: right;
            direction: rtl;
            margin-right: 50px;
        }
        .footer-link{
            ul{
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            font-size: 18px;
                li{
                    a{
                    cursor: pointer;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
 
    .site-footer {
      width: 100%;
      height: fit-content;
      border-radius: 5px 5px 0 0;
      .footer-gradient{
        border-radius: 5px 5px 0 0;
        width: 100%;
      }
      .footer-container{
        width: 90%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .logo{
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          img{
            width: 60px;
          }
        }
        .footer-text{
          width: 320px;
          line-height: normal;
          margin-right: 50px;
          font-size: 12px;
          display: none;
        }
        .footer-link{
          margin: 30px 0;
          width: 70%;
          ul{
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            font-size: 11px;
          }
        }
      }
    }
}
@media only screen and (min-width: 500px) {

    
    .site-footer {
      width: 100%;
      height: fit-content;
      border-radius: 5px 5px 0 0;
      .footer-gradient{
        border-radius: 5px 5px 0 0;
        width: 100%;
      }
      .footer-container{
        width: 93%;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        .logo{
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: center;
          img{
            width: 90px;
          }
        }
        .footer-text{
          width: 320px;
          line-height: normal;
          margin-right: 50px;
          font-size: 12px;
          display: none;
        }
        .footer-link{
          margin: 30px 0;
          width: 50%;
          ul{
            width: 100%;
            flex-direction: row-reverse;
            justify-content: space-between;
            font-size: 13px;
          }
        }
      }
    }
}
@media only screen and (min-width: 798px) {

    .site-footer {
      height: 110px;
      margin-top: 80px;
      .footer-container{
        .footer-text{
          width: 320px;
          line-height: normal;
          margin-right: 50px;
          font-size: 12px;
          display: block;
        }
        .footer-link{
          width: 30%;
        }
      }
    }
}
@media only screen and (min-width: 992px) {

    .site-footer {
      height: 131px;
      .footer-container{
        .logo{
          img{
            width: 110px;
          }
        }
        .footer-text{
          width: 400px;
          font-size: 14px;
        }
        .footer-link{
          ul{
            font-size: 15px;
          }
        }
      }
    }
}
@media only screen and (min-width: 1200px) {  
    .site-footer {
      border-radius: 5px 5px 0 0;
      .footer-container{
        .logo{
          img{
            width: 124px;
          }
        }
        .footer-text{
          width: 450px;
          font-size: 16px;
        }
        .footer-link{
          ul{
            font-size: 17px;
          }
        }
      }
    }
}
@media only screen and (min-width: 1400px) {
    .site-footer {
      .footer-container{
        width: 97%;
        .footer-text{
          width: 619px;
        }
        .footer-link{
          width: 27%;
          ul{
            font-size: 18px;
          }
        }
      }
    }
}

