@import "./footer";
@import "./variable";

.header{
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
}
.header-container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        .avatar{
            border-radius: 50%;
        }
    }
}
.main-container{
    display: flex;
    flex-direction: column;
    font-family: 'bahij-helvetica-roman';
    direction: rtl;
    .card-post{
        display: flex;
        flex-direction: column;
        color: $dark-grey-blue;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: right;
        .post-header{
            display: flex;
            flex-direction: column;
            .post-author{
                display: flex;
                flex-direction: row;
                align-items: center;
                .avatar{
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                }
                .author-name{
                    font-family: 'bahij-helvetica-bold';
                    text-decoration: none;
                    color: $dark-grey-blue;
                }
                .follow-button{
                    flex-grow: 0;
                    padding: 0 6px 1px;
                    border-radius: 6px;
                    background-color: $white;
                    border: 2px solid #139eca;
                    color: #139eca;
                    cursor: pointer;
                    transition: 0.5s ease all;
                    font-family: 'bahij-helvetica-roman';
                    display: flex;
                    align-items: center;
                    &:hover{
                        background-color: #139eca;
                        color: #fff;
                        transition: 0.5s ease all;
                    }
                }    
            }
            .post-title {
                text-decoration: none;
                color: $dark-grey-blue;
                direction: rtl;
                .title{
                    text-decoration: none;
                    color: $dark-grey-blue;
                    direction: rtl;
                }
            }
            .post-details{
                color: #5a5a5a;
                width: 100%;
                .flex-footer{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    .tag{
                        border-radius: 17px;
                        background-color: $pale-grey;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    .circle{
                        background-color: #707070;
                        border-radius:50%;
                        margin: 0 ;
                    }
                    .save{
                        display: flex;
                        align-items: center;
                        color:#139eca;
                        cursor: pointer;
                    }
                }
            }
        }
    .post-content{
        display: flex;
        flex-direction: column;
        > h2{
            width: 100%;
        }
        > h3{
            width: 100%;
        }
    }
}
.headerLine{
    width: 100%;
    display: flex;
    flex-direction: row;
    > div{
        border-bottom: 1px solid $water-blue;
    }
    .line{
        border-bottom: 1px solid $water-blue-30;
    }
    
} 
.this-author{
    font-weight: bold;
    color:$dark-grey-blue;
}
.other-articles{
    display: flex;
    flex-direction: column;
    .article{
        display: flex;
        flex-direction: row;
        .other-post{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .post-footer{
                color: #5a5a5a;
                .flex-footer {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    .tag{
                        background-color: $pale-grey;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                    }
                    .circle{
                        background-color: #707070;
                        border-radius:50%;
                        margin: 0 ;
                    }
                    .save{
                        color:#139eca;
                        cursor: pointer;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
        
        > img{
            height: auto
        }
    }
}
.comments-title{
    font-weight: bold;
    color:$dark-grey-blue;
}
.comments{
    display: flex;
    flex-direction: column;
    .name{
        font-weight: bold;
        font-family: 'bahij-helvetica-roman';
        color: $dark-grey-blue;
    }
    .text-comment{
        color: #404040;
    }
    .details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #5a5a5a;
        .date-time{
            display: flex;
            align-items: center;
            .circle{
                background-color: #707070;
                border-radius:50%;
                margin: 0 ;
            }
        }
        .like-forward{
            display: flex;
            flex-direction: row-reverse;
            .like{
                display: flex;
                flex-direction: row-reverse;
            }
        }
    }
}
.comment-reply{
    display: flex;
}

.commentLine{
    border-bottom: 1px solid $water-blue-30;
}
.form-comment{
    display: flex;
    flex-wrap: wrap;
    label{
        color: rgba(40, 57, 79, 0.6);
    }
    input{
        font-family: 'bahij-helvetica-roman';
    }
    .email{
        >input{
            text-align: left;
        }
    }
    .user-comment{
        >textarea{
            resize: vertical;
            font-family: 'bahij-helvetica-roman';
        }
    }
    .input{
        border-radius: 10px;
        border: 1px solid $water-blue-30;
    }
    
    }
    .form-item{
        display: flex;
        flex-direction: column;
    }
    .submit{
        background-color: $tealish;
        margin:0 auto 0px 0;
        color: white;
        cursor: pointer;
        transition: 0.5s ease all;
        font-family: 'bahij-helvetica-bold';
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
            background-color: #25918b;
        }
    }    
}
