* {
    margin: 0;
    padding: 0;
}

textarea:focus-visible, input:focus-visible {
    outline: none;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #fafafa !important;
  font-family: 'bahij-helvetica-roman';
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

.container{
    margin: 0 auto;
    .row{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
@media only screen and (max-width: 500px) {
    main {
        min-height: 76vh
    }
    .container{
    width: 100%;
  }
}
@media only screen and (min-width: 500px) {
    main {
        min-height: 76vh
    }
    .container{
    width: 480px;
  }
}
@media only screen and (min-width: 798px) {
    main {
        min-height: 77vh
    }
    .container{
        width: 690px;
    }
}
@media only screen and (min-width: 992px) {
    main {
        min-height: 70vh
    }
    .container{
        width: 850px;
    }
}
@media only screen and (min-width: 1400px) {
    main {
        min-height: 64.1vh
    }
    .container{
        width: 1140px;
    }
}

@import "./_variables";

* {
  font-family: $font-default;
}
button {
  font-family: $font-roman;
}
@media only screen and (max-width: 1024px) {
    html {
      font: $font-default-1;
    }
  }
  @media only screen and (min-width: 1024px) {
    html {
      font: $font-default-1;
    }
  }
  @media only screen and (min-width: 1224px) {
    html {
      font: $font-default-2;
    }
  }
  @media only screen and (min-width: 1440.98px) {
    html {
      font: $font-default-3;
    }
  }
  @media only screen and (min-width: 1624px) {
    html {
      font: $font-default-4;
    }
  }
  @media only screen and (min-width: 1824px) {
    html {
      font: $font-default-5;
    }
  }

  .input-form {
    label {
      width: 100%;
      display: block;
      font-family: $font-default;
      font-size: 18px;
      color: $cloudy-blue;
      margin-bottom: 5px;
    }
    input {
      border-radius: 5px;
      border: 2px solid transparent;
      padding: 10px 15px;
      outline: none;
      font-family: $font-light;
      font-size: 16px;
      border: 1px solid #30bfb7;
      border-radius: 5px;
      background-color: transparent;
      margin-bottom: 20px;
      &::placeholder {
        font-family: $font-light;
        font-size: 16px;
      }
    }
  }

  .flex {
    display: flex;
  }

  .flex-col {
    flex-direction: column;
  }

  .justify-center {
    justify-content: center;
  }

  .align-center {
    align-items: center;
  }