$tealish : #30bfb7;
$pale-grey : #eef2f3;
$white: #fafafa;
$white-Two : #fcfcfc;
$dark-grey-blue : #28394f;
$dark-slate-blue: #264e64;
$water-blue:#139eca;
$water-blue-30:rgba(19, 158, 202, 0.3);
$black-15 : rgba(0, 0, 0, 0.15);
$pale-grey : #eef2f3;